/* css/advanced-line.css */
#line-container.advanced-line {
    position: relative;
    width: 300px;
    margin: 0 auto 40px auto;
}

#line-container.advanced-line .line {
    position: absolute;
    left: 140px;
    width: 4px;
    background: #333;
    height: 600px;
}

#line-container.advanced-line .stop.center { left: 128px; text-align: center; }
#line-container.advanced-line .stop.left   { left: 0px; text-align: right; }
#line-container.advanced-line .stop.right  { left: 160px; text-align: left; }

#line-container.advanced-line .streck {
    position: absolute;
    width: 20px;
    height: 2px;
    background: #333;
}

#line-container.advanced-line .bus-left  { background: green; left: 120px; }
#line-container.advanced-line .bus-right { background: blue; left: 160px; }
